.table {
    margin-top: 50px;
}

.table td,
.table th{
    vertical-align: middle !important;
    text-align: center;
}

.img {
    width: 250px;
}

.glyphicon {
    padding: 10px;
}


.form label{
    display: block;
}

.form label, 
.form input {
    margin-top: 10px;
}

.form button{
    margin-top: 25px;
}
.form #submit {
    margin-left: 50px;
}
